{% extends 'main.html' %}
{% load static %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>

    <section id="video-streams"></section>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            {% comment %} <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" /> {% endcomment %}
        </div>

        <div class="icon-wrapper">
            {% comment %} <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" /> {% endcomment %}
        </div>

        <div class="icon-wrapper">
            {% comment %} <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg' %}" /> {% endcomment %}
        </div>
    </section>
</main>


<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.22.2.js' %}"></script>
<script>
    const APP_ID = '1aa47ae8827d40cab066b64abea5748e'
    const TOKEN = '007eJxTYNip/WFtvnO9fNrdXYKnY0vPzrvVuCsy8br3g3vMuulrK28oMBgmJpqYJ6ZaWBiZp5gYJCcmGZiZJZmZJCalJpqam1ik3pV2Tm8IZGQo2+nMysgAgSA+C0NuYmYeAwMAz70g7w=='
    const CHANNEL = 'main'
    let UID;
    console.log("working")
    const client = AgoraRTC.createClient({mode:'rtc', codec:'vp8'})

    let localTrack = []
    let remoteUsers = {}

    let joinAndDisplayLocalStream=async () =>{
        document.getElementById('room-name').innerText = CHANNEL

        {% comment %} client.on('user-published', handleUserJoined)
        client.on('user-left', handleUserLeft) {% endcomment %}

        {% comment %} try{ {% endcomment %}
            UID = await client.join(APP_ID, CHANNEL, TOKEN, UID)
        {% comment %} }catch(error){
            console.error(error)
            window.open('/', '_self')
        } {% endcomment %}
        
        localTracks = await AgoraRTC.createMicrophoneAndCameraTracks()

        {% comment %} let member = await createMember() {% endcomment %}

        let player = `<div  class="video-container" id="user-container-${UID}">
                        <div class="video-player" id="user-${UID}"></div>
                        <div class="username-wrapper"><span class="user-name">${member.name}</span></div>
                    </div>`
        
        document.getElementById('video-streams').insertAdjacentHTML('beforeend', player)
        localTracks[1].play(`user-${UID}`)
        await client.publish([localTracks[0], localTracks[1]])
    }

    {% comment %} let handleUserJoined = async (user, mediaType) => {
        remoteUsers[user.uid] = user
        await client.subscribe(user, mediaType)

        if (mediaType === 'video'){
            let player = document.getElementById(`user-container-${user.uid}`)
            if (player != null){
                player.remove()
            }

            let member = await getMember(user)

            player = `<div  class="video-container" id="user-container-${user.uid}">
                <div class="video-player" id="user-${user.uid}"></div>
                <div class="username-wrapper"><span class="user-name">${member.name}</span></div>
            </div>`

            document.getElementById('video-streams').insertAdjacentHTML('beforeend', player)
            user.videoTrack.play(`user-${user.uid}`)
        }

        if (mediaType === 'audio'){
            user.audioTrack.play()
        }
    }

    let handleUserLeft = async (user) => {
        delete remoteUsers[user.uid]
        document.getElementById(`user-container-${user.uid}`).remove()
    }

    let leaveAndRemoveLocalStream = async () => {
        for (let i=0; localTracks.length > i; i++){
            localTracks[i].stop()
            localTracks[i].close()
        }

        await client.leave()
        //This is somewhat of an issue because if user leaves without actaull pressing leave button, it will not trigger
        deleteMember()
        window.open('/', '_self')
    }

    let toggleCamera = async (e) => {
        console.log('TOGGLE CAMERA TRIGGERED')
        if(localTracks[1].muted){
            await localTracks[1].setMuted(false)
            e.target.style.backgroundColor = '#fff'
        }else{
            await localTracks[1].setMuted(true)
            e.target.style.backgroundColor = 'rgb(255, 80, 80, 1)'
        }
    }

    let toggleMic = async (e) => {
        console.log('TOGGLE MIC TRIGGERED')
        if(localTracks[0].muted){
            await localTracks[0].setMuted(false)
            e.target.style.backgroundColor = '#fff'
        }else{
            await localTracks[0].setMuted(true)
            e.target.style.backgroundColor = 'rgb(255, 80, 80, 1)'
        }
    }

    let createMember = async () => {
        let response = await fetch('/create_member/', {
            method:'POST',
            headers: {
                'Content-Type':'application/json'
            },
            body:JSON.stringify({'name':NAME, 'room_name':CHANNEL, 'UID':UID})
        })
        let member = await response.json()
        return member
    }


    let getMember = async (user) => {
        let response = await fetch(`/get_member/?UID=${user.uid}&room_name=${CHANNEL}`)
        let member = await response.json()
        return member
    }

    let deleteMember = async () => {
        let response = await fetch('/delete_member/', {
            method:'POST',
            headers: {
                'Content-Type':'application/json'
            },
            body:JSON.stringify({'name':NAME, 'room_name':CHANNEL, 'UID':UID})
        })
        let member = await response.json()
    }

    window.addEventListener("beforeunload",deleteMember); {% endcomment %}

    joinAndDisplayLocalStream()

    {% comment %} document.getElementById('leave-btn').addEventListener('click', leaveAndRemoveLocalStream)
    document.getElementById('camera-btn').addEventListener('click', toggleCamera)
    document.getElementById('mic-btn').addEventListener('click', toggleMic) {% endcomment %}
</script>
{% comment %} <script type="text/javascript" src="{% static 'js/streams.js' %}" ></script> {% endcomment %}
{% endblock content %}